$dir: '..';
$font-path: '#{$dir}/fonts';
$image-path: '#{$dir}/images';

$helvetica: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
$walsheim: 'GT Walsheim LC', 'Arial', 'Helvetica', sans-serif;
$space-mono: 'Space Mono', 'Arial', 'Helvetica', sans-serif;
